<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="api">
            <file>test/Core/LoggerTest.php</file>
            <file>test/Core/ConfigTest.php</file>
            <file>test/Core/DatabaseHandlerTest.php</file>
            <file>test/Core/RouterTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>